# Gradle
/build/
/.gradle/

# IntelliJ
.idea/
*.iml
.DS_Store

# secrets
src/main/resources/application.properties

# exclude scheduler package
src/main/java/**/scheduler/

# exclude local data files
src/main/resources/ai_module/*.xlsx
